[pipenv]
allow_prereleases = false

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
gunicorn = "*"
python-dotenv = "*"
chart-studio = "*"

[dev-packages]
bumpversion = "*"
pylama = "*"
pytest = "*"
rope = "*"

[requires]
python_version = "3.7"
